# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual environments
# ===============================
.venv/
venv/

# ===============================
# Environment variables
# ===============================
.env
.env.example
!.env.example

# ===============================
# Lint / format
# ===============================
.black/

# ===============================
# IDE / Editors
# ===============================
.idea/
.vscode/

# ===============================
# OS
# ===============================
.DS_Store

# ===============================
# Database
# ===============================
*.sqlite3
*.db

# ===============================
# Docker
# ===============================
*.pid
volumes/*